<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find unitree_g1_ros1)/urdf/g1_29dof_with_hand_rev_1_0.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find unitree_g1_ros1)/launch/rviz.rviz" />
</launch>
